*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    margin: auto;
    height: 100vh;
    background-image: url(./23324.jpg);
    background-position: center;
    background-size: cover;
}

h1{
color: beige;
text-align: center;
padding-top: 20px;
margin-bottom: 20px;
}
.digital{
    width: 45%;
    margin: auto;
    height: 250px;
    background-color: rgb(197, 197, 178, 0.7);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;

}
#convert{
color: #fff;
background-color: blue;
border: none;
padding: 8px 3px;
border-radius: 8px;
}

.bttn{
    color: #fff;
    background-color: rgb(8, 8, 61);
    border: none;
    padding: 8px 10px;  
    border-radius: 30px;
    border-bottom: solid 3px blue;
}

.bttn:hover{
    background-color: #fff;
    color: rgb(8, 8, 61);
}


.button{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#inputText,
#output{
    background-color: rgb(214, 214, 247);
    border: none;
    padding: 8px 3px
    
}


/* media query */
@media screen and (max-width: 450px) {
  
    
    .digital{
        width:70%;
        margin: auto;
        height: 400px;
    }
    
    p{
        text-align: center;
    }

    .button{
        display: flex;
        flex-direction: column;
    }
}